
<div class="wrapper border-bottom gray-bg page-heading bottom-zero" ng-controller="AppController">
    <div class="row draft-top-line">
        <div class="col-md-1">
            <%=image_tag("period.png")%>
            <h4>제한시간</h4>
        </div>
        
        <div class="col-md-2">
            <span>{{leftTime}}</span>
        </div>
        
        <div class="col-md-1">
            <%=image_tag("draftpick2.png")%>
            <h4>픽 순서</h4>
        </div>
        
        <div class="col-md-8 pick-order">
            <button type="button" class="btn" style="float:left; margin:5px;"
                    ng-repeat="team in teams"
                    ng-class="getPickButtonClass($index)">{{team.name}}</button>
            <button type="button" class="btn btn-danger" ng-click="getNextPick()">Next Pick</button>
        </div>
    </div>
    
    <div class="row draft-middle-line" style="margin-bottom:100px;">
        <div class="col-md-7">
            <div class = "row sorting-container" style = "margin-left : 0px;
    margin-right : 0px;">
                <div class = "black-box">
                    <h3>정렬 기준</h3>
                </div>
                <div class = "col-md-12 border-box">
                    <div class = "ordering" id = "ordering1">
                        <select class="form-control" ng-model="playerFilter.pos" >
                            <option value="0">모든 포지션</option>
                            <option ng-repeat="pos in positions" value="{{pos}}">{{pos}}</option>
                        </select>
                    </div>
                    <div class = "ordering" id = "ordering2">
                        <select class="form-control" ng-model="playerFilter.team">
                            <option value="0">모든 팀</option>
                            <option ng-repeat="rteam in realTeams" value="{{rteam}}">{{rteam}}</option>
                        </select>
                    </div>
                    <div class = "ordering" id = "ordering3">
                        <select class="form-control" ng-model="playerFilter.stat" >
                            <option value="0">전체</option>
                            <option ng-repeat="stat in stats" value="{{stat}}">{{stat}}</option>
                        </select>
                    </div>
                    <div class="input-group ordering" id = "search-player">
                      <input type="text" class="form-control" placeholder="선수 이름" ng-model="playerFilter.playerName">
                      
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                      </span>
                    </div>
                </div>
            </div>
            <div class = "player-list">
                <div class = "black-box">
                    <h3>선수 리스트</h3>
                </div>
                <div class = "border-box">
                    <table class="table table-condensed">
                        <thead style="background-color:rgb(109,123,139); color:rgb(255,255,255); font-weight:3.0em;">
                            <th style="width:10%;">포지션</th>
                            <th style="width:30%;">선수</th>
                            <th style="width:10%;"></th>
                            <th style="width:10%;">WAR</th>
                            <th style="width:20%;">소유 감독</th>
                            <th style="width:10%;">오토픽</th>
                            <th style="width:10%;">픽</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="player in players | filter: playerFilter.filter | filter: playerFilter.indexFilter:$index | filter: playerFilter.nameFilter">
                                <td>{{player.pos}}</td>
                                <td>{{player.name}} ({{player.team}})</td>
                                <td> - </td>
                                <td>{{player.war}}</td>
                                <td> - </td>
                                <td>
                                    <a class="btn btn-warning" ng-click="addAutopickPlayers(player)" ng-class="getAutopickClass(player.id)">
                                        추가
                                    </a>
                                </td>
                                <td><a class="btn btn-info">픽</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class = "border-box">
                    <div class = "row">
                        <div class="col-md-12">
                            페이지당 선수 수 : 
                            <select class="form-control" style="display:inline-block; width:30%;" ng-model="playerFilter.displayCount" ng-init="playerFilter.displayCount = 5">
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                            <div style="float:right;">
                                <div class="btn-group" role="group" ng-init="playerFilter.currentPage=1">
                                    <button class="btn btn-default" ng-click="playerFilter.currentPage=1">1</button>
                                    <button class="btn btn-default" ng-click="playerFilter.currentPage=2">2</button>
                                    <button class="btn btn-default" ng-click="playerFilter.currentPage=3">3</button>
                                    <button class="btn btn-default" ng-click="playerFilter.currentPage=4">4</button>
                                    <button class="btn btn-default" ng-click="playerFilter.currentPage=5">5</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>드래프트 기록</h3>
            <table class="table">
                <thead>
                    <th>라운드</th>
                    <th ng-repeat="team in teams">{{team.name}}</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
        
        <div class="col-md-5">
            <div class="col-md-12">
                <div class = "black-box">
                    <h3>오토픽</h3>
                </div>
                <div class = "border-box" id = "autopick-bottom">
                    <button class="btn btn-warning" style="margin:7px;">완료된 선수 제거</button>
                    <button class="btn btn-danger" style="margin:7px;" ng-hide="!isAutopickOn" ng-click="isAutopickOn=false">오토픽 끄기</button>
                    <button class="btn btn-success" style="margin:7px;" ng-hide="isAutopickOn" ng-click="isAutopickOn=true">오토픽 켜기</button>
                    <div id="autopick-container" style="clear:both;">
                        <div ng-repeat="player in autopickPlayers" class="autopick-player-container">
                            <span class="autopick-player-pos">{{player.pos}}</span>
                            <span class="autopick-player-name">{{player.name}}</span>
                            <span class="autopick-player-team">( {{player.team}} )</span>
                            <a class="btn btn-sm btn-default">위</a>
                            <a class="btn btn-sm btn-default">아래</a>
                            <a class="btn btn-danger">X</a>
                            <a class="btn btn-primary">픽</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class = "black-box">
                    <h3>포지션 보기</h3>
                </div>
                <div class = "border-box">
                    <div class = "row">
                        <div class="col-md-12">
                            <div class="col-md-9" id="draft-position-map">
                                지도
                            </div>
                            <div class="col-md-3">
                                주전투수
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-1">
                                    타자
                                </div>
                                <div class="col-md-5">
                                    
                                </div>
                                <div class="col-md-1">
                                    투수
                                </div>
                                <div class="col-md-5">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var currentUserId = <%=current_user.id%> * 1;
    
    Array.prototype.indexOfId = function(id) {
        for (var i = 0; i < this.length; i++)
            if (this[i].id === id)
                return i;
        return -1;
    };
    
    angular.module('app',['draft'])
        .controller('AppController',['$scope', '$http','$timeout','$interval',function($scope, $http, $timeout, $interval){
            
            $scope.getPickButtonClass = function(_index) {
                var buttonClasses = ["btn-default","btn-warning","btn-primary"];
                
                if(_index == $scope.currentPickOrder) {
                    return buttonClasses[1];
                }
                else if(_index == $scope.nextPickOrder) {
                    return buttonClasses[2];
                }
                else {
                    return buttonClasses[0];
                }
            }
            
            $scope.round = 1;
            $scope.currentPickOrder = 0;
            $scope.nextPickOrder = 1;
            $scope.getNextPick = function() {
                if( $scope.currentPickOrder == $scope.nextPickOrder) {
                    $scope.round += 1;
                }
                $scope.currentPickOrder = $scope.nextPickOrder;
                
                if( $scope.round % 2 == 1 ) {
                    if( $scope.currentPickOrder == $scope.teams.length - 1) {
                        $scope.nextPickOrder = $scope.currentPickOrder;
                    }
                    else {
                        $scope.nextPickOrder += 1;
                    }
                }
                else {
                    if( $scope.currentPickOrder == 0 ) {
                        $scope.nextPickOrder = $scope.currentPickOrder;
                    }
                    else {
                        $scope.nextPickOrder -= 1;
                    }
                }
            }
            
            //set time out
            var requestRandomPick = function() {
                //$http
                console.log('pick!');
            }
            
            var requestPick = function(_playerObj) {
                var userId = $scope.teams[$scope.currentPickOrder].user_id;
                
                //현재 pick order인 사람이 request
                console.log(userId + ' pick!');
                
                if( _playerObj == null ) {
                    //random pick
                }
                else {
                    
                }
            }
            
            var tick = function() {
                var playerObj = null;
                
                $scope.leftTime -= 1;
                if( $scope.leftTime == 0) {
                    //오토픽이 켜져있는지
                    if( $scope.teams[$scope.currentPickOrder].user_id == currentUserId && $scope.isAutopickOn ) {
                        //켜져있으면 autopick list에 있는 선수들 뽑아옴
                        //playerObj = $scope.autopickPlayers.pop()
                    }
                    
                    requestPick(playerObj);
                    $scope.getNextPick();
                    $scope.leftTime = 10;
                }
                //내 차례가 아니면 1초마다 픽했는지 request
            }
            
            var checkPick = function() {
                //$http를 사용해서 pick이 바뀌었는지 검사
                //pick이 바뀌었다면 전체 draft result 테이블에 추가
                console.log('check if draft results changed');
            }
            
            var cancelTick = $interval(tick, 1000);
            var cancelCheckPick = $interval(checkPick, 1000);
            
            $scope.isAutopickOn = false;
            $scope.autopickPlayers = [];
            $scope.addAutopickPlayers = function(_player) {
                console.log('autopick test', _player);
                $scope.autopickPlayers.push(_player);
            }
            $scope.getAutopickClass = function(_playerId) {
                return $scope.autopickPlayers.indexOfId(_playerId) > -1 ? "disabled" : "";
            }
            
            $scope.players = null;
            $scope.teams = null;
            $scope.leftTime = 10;
            
            $scope.positions = ["선발","구원","1루","2루","유격","3루","우익","좌익","중견","포수"]
            $scope.realTeams = ["삼성","롯데","NC","SK","두산","넥센","LG","kt","한화","KIA"]
            $scope.stats = ["승리","타율","홈런"]
            $scope.playerFilter = {
                filter: function(_playerObj, _index){
                    //pos, team, displayCount
                    var posFilter = true;
                    var teamFilter = true;
                    
                    var posNorm = $scope.playerFilter.pos;
                    var teamNorm = $scope.playerFilter.team;
                    
                    //pos filter
                    if( posNorm != null ) {
                        if(posNorm == "0" || posNorm == _playerObj.pos){
                            posFilter = true;
                        }
                        else {
                            posFilter = false;
                        }
                    }
                    
                    //team filter
                    if( teamNorm != null ) {
                        if( teamNorm == "0" || teamNorm == _playerObj.team){
                            teamFilter = true;
                        }
                        else {
                            teamFilter = false;
                        }
                    }
                    
                    return posFilter && teamFilter;
                },
                
                indexFilter:function(_playerObj, _index){
                    var indexFilter = true;
                    var displayCount = $scope.playerFilter.displayCount;
                    var currentPage = $scope.playerFilter.currentPage - 1;
                    
                    //index filter
                    if( displayCount * currentPage <= _index && _index < displayCount * (currentPage + 1) ) {
                        indexFilter = true;
                    }
                    else {
                        indexFilter = false;
                    }
                    
                    return indexFilter
                },
                
                nameFilter:function(_playerObj){
                    var nameFilter = true;
                    var name = $scope.playerFilter.playerName;
                    
                    if( name != null && name != '' ) {
                        if( name == _playerObj.name ) {
                            nameFilter = true;
                        }
                        else{
                            nameFilter = false;
                        }
                    }
                    
                    return nameFilter;
                }
            };
            
            //get player data
            $http({
                method: 'POST',
                url: '/data/getPlayers',
                data: null
            })
            .success(function(_data, _status, _headers, _config){
                if( _data ) {
                    $scope.players = _data;
                }
                else {
                    console.log('error!')
                }
            })
            .error(function(_data, _status, _headers, _config){
                console.log(status);
            })
            
            //get team data
            $http({
                method: 'POST',
                url: '/data/getDraftTeams',
                data: {
                    room_id: <%=params[:id]%>
                }
            })
            .success(function(_data, _status, _headers, _config){
                if( _data ) {
                    $scope.teams = _data.sort(function(_obj1, _obj2){
                        return _obj1.user_id - _obj2.user_id;
                    });
                }
                else {
                    console.log('error!');
                }
            })
            .error(function(_data, _status, _headers, _config){
                console.log(_status);
            });
        }]);
    
    angular.module('draft',['draft.controllers', 'draft.services', 'draft.filters', 'draft.directives']);
    angular.module('draft.controllers',[])
    angular.module('draft.services',[])
    angular.module('draft.filters',[])
    angular.module('draft.directives',[])
</script>

<button type="button" class="pick" style="margin: 25px; font-size: 20px; padding: 15px;">선수 픽</button>


<!--타자용 모달-->


<!--모달 뜨게 하는 버튼-->
<a data-toggle="modal" data-target="#myModal">
    강민호
</a>
<!--팝업(모달) 바디 부분-->
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn pack">
                <div class="modal-body">
                    <!-- 위에 엠블럼이랑 소속정보-->
                    <div class = "row">
                        <div class = "col-sm-3">
                            <div class = "black-box">
                                강민호
                            </div>
                            <div class = "emblem">
                                <%=image_tag("tiger.jpg")%>
                            </div>
                        </div>
                        
                        <div class = "col-sm-offset-2 col-sm-7">
                            <div class = "row player-line"
                                style = "margin-right : 0px">
                                <div class = "col-sm-6">
                                    KBO 리그 소속팀 : 
                                </div>
                                <div class = "col-sm-6">
                                    한화 이글스 
                                </div>
                            </div>
                            <div class = "row player-line"
                                style = "margin-right : 0px">
                                <div class = "col-sm-6">
                                    야알못 리그 소속팀 : 
                                </div>
                                <div class = "col-sm-6">
                                    오장섭 감독의 <br>
                                    <span>성하짱짱</span>팀
                                </div>
                            </div>
                            <div class = "row player-line"
                                style = "margin-right : 0px">
                                <div class = "col-sm-6">
                                    포지션 
                                </div>
                                <div class = "col-sm-6">
                                    포수
                                </div>
                            </div>
                            <div class = "row player-line"
                                style = "margin-right : 0px">
                                <div class = "col-sm-6">
                                    다음 경기 상대 투수 
                                </div>
                                <div class = "col-sm-4">
                                    레일리<br>(롯데 자이언츠)
                                </div>
                                <div class = "col-sm-2 next">
                                    <%=image_tag("bird.png")%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--밑에 정보 테이블-->
                    <!--메인 정보-->
                    <table class="table table-bordered border">
                        <thead>
                            <tr class = "border">
                                <th class = "border-left">
                                    일시
                                </th>
                                <th>경기회차</th>
                                <th>승리</th>
                                <th>평균자책</th>
                                <th>탈삼진</th>
                                <th>홀드</th>
                                <th>세이브</th>
                                <th style = "width : 30%">상대팀 선발투수</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style = "border-left : solid">8/15</td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                            <td style = "border-right:solid">
                                <%=image_tag("eagles.png")%>
                            </td>
                            
                        </tr>
                        <tr>
                            <td style = "border-left:solid">
                                8/15
                            </td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                            <td style = "border-right:solid">
                                <%=image_tag("eagles.png")%>
                            </td>
                        </tr>
                        <tr class = "border">
                            <td colspan = "2">합계 </td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                
                
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    닫기
                </button>
                <button class = "btn btn-white"id = "detail">
                    세부정보
                </button>
                <!--메인 정보 끝!-->
                <!--세부정보-->
                <div id = "detail__information">
                    <table class="table table-bordered border">
                        <thead>
                            <tr class = "border">
                                <th class = "border-left">
                                    일시
                                </th>
                                <th>경기회차</th>
                                <th>이닝</th>
                                <th>실점</th>
                                <th>피안타</th>
                                <th>피홈런</th>
                                <th>볼넷</th>
                                <th>사구</th>
                                <th>승률</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style = "border-left : solid">8/15</td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                            <td></td>
                            <td style = "border-right:solid"></td>
                            
                        </tr>
                        <tr>
                            <td style = "border-left:solid">
                                8/15
                            </td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                            <td></td>
                            <td style = "border-right:solid"></td>
                        </tr>
                        <tr class = "border">
                            <td colspan = "2">합계 </td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 세부 정보 테이블 끝!-->
                
            </div>
        </div>
    </div>
    <!--모달 End-->


</div>



<!--

<script type="text/javascript">
	
	
	var clock;
		
	$(document).ready(function() {
		
		clock = $('.your-clock').FlipClock(30, {
	        clockFace: 'MinuteCounter',
	        countdown: true,
	        autoStart: true,
	    });

	    $('.pick').click(function() {

	    	
	    	clock.setTime(30);
	    	clock.start();
	    });

	});
	
</script>


<script>
    $(document).ready(function(){
        $("#detail__information").hide();
        $("#detail").click(function(){
           $("#detail__information").toggle(); 
        });
    });
</script>

-->