
<%=@testvar.inspect%>

<div class="wrapper wrapper-content">
    <div class="animated fadeInRightBig">
        <!--contents-->
        
        <div class = "row">
            
            <!-- 리그 정보-->
            <div class = "col-lg-4 col-md-6">
                <div class = "ibox" style = "max-width : 610px">
                    
                    <div id = "title-box">
                        <strong>리그 정보</strong>
                    </div>    
                    
                    <div class = "special2">
                        <div>
                            <div class = "row add">
                                <div class = "line col-sm-2 hidden-sm hidden-xs image_div">
                                    <%= image_tag("tropy.png") %>
                                </div>
                                <div class = "line col-sm-10">
                                    <label class = "col-sm-6 name_div">리그 이름</label>
                                    <strong class = "col-sm-6 name_div special">윗 더 베 </strong>
                                </div>
                            </div>
                            <div class = "row add">
                                <div class = "line col-sm-2 hidden-sm hidden-xs image_div">
                                    <%= image_tag("emblem.png") %>
                                </div>
                                <div class = "line col-sm-10">
                                    <label class = "col-sm-6 name_div">마이팀 이름</label>
                                    <strong class = "col-sm-6 name_div special">성하짱짱 </strong>
                                </div>
                            </div>
                            <div class = "row add">
                                <div class = "line col-sm-2 hidden-sm hidden-xs image_div">
                                    <%= image_tag("Mode.png") %>
                                </div>
                                <div class = "line col-sm-10">
                                    <label class = "col-sm-6 name_div">참여 인원</label>
                                    <strong class = "col-sm-6 name_div special">리그 기간 </strong>
                                </div>
                            </div>
                            <div class = "row add">
                                <div class = "line col-sm-2 hidden-sm hidden-xs image_div">
                                    <%= image_tag("unlock.png") %>
                                </div>
                                <div class = "line col-sm-10">
                                    <label class = "col-sm-6 name_div">드래프트 시작 여부</label>
                                    <strong class = "col-sm-6 name_div special">완료</strong>
                                </div>
                            </div>
                            <div class = "row add">
                                <div class = "line col-sm-2 hidden-sm hidden-xs image_div">
                                    <%= image_tag("diary.png") %>
                                </div>
                                <div class = "line col-sm-10">
                                    <label class = "col-sm-6 name_div">공개 여부</label>
                                    <strong class = "col-sm-6 name_div special">비공개 </strong>
                                </div>
                            </div>
                            <div class = "row add">
                                <div class = "line col-sm-2 hidden-sm hidden-xs image_div">
                                    <%= image_tag("clock.png") %>
                                </div>
                                <div class = "line col-sm-10">
                                    <label class = "col-sm-6 name_div">드래프트 시간 제한</label>
                                    <strong class = "col-sm-6 name_div special">60초 </strong>
                                </div>
                            </div>
                            <div class = "row add">
                                <div class = "line col-sm-2 hidden-sm hidden-xs image_div">
                                    <%= image_tag("max_people.png") %>
                                </div>
                                <div class = "line col-sm-10">
                                    <label class = "col-sm-6 name_div">방장</label>
                                    <strong class = "col-sm-6 name_div special">오장섭 </strong>
                                </div>
                            </div>
                        </div>
                        <button class = "btn btn-default">리그 설정</button>
                    </div>
                </div>
            </div>
            
            <!--participants list-->
            <div class = "col-lg-4 col-md-6">
                <div class = "ibox">
                <div>
                    <div id = "title-box">
                        <strong>참여 팀</strong>
                    </div>
                </div>
                <div>
                    <div class = "special2">
                        <div class = "row add3">
                            
                            <div class = "col-md-offset-2 col-md-4 small_image_div">
                                <%= image_tag("team_name.png") %>
                                <strong>
                                    팀 이름
                                </strong>
                            </div>
                            
                            
                            <div class = "col-md-3">
                            
                                <div class = "small_image_div">
                                    <%= image_tag("emblem.png") %>
                                
                                    <strong >
                                        감독
                                    </strong>
                                </div>
                            </div>
                            <div class = "col-md-3">
                                <div class = "small_image_div">
                                    <%= image_tag("emblem.png") %>
                                
                                    <strong >
                                        감독
                                    </strong>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class = "row add2">
                            <div class = "col-sm-2 hidden-sm hidden-xs image_div">
                                <%= image_tag("user2.png") %>
                            </div>
                            <div class = "col-sm-4">
                                <div class = "margin_name">
                                    <strong>장섭 독수리</strong>
                                </div>
                            </div>
                            <div class = "col-sm-3">
                                <div class = "margin_name" style = "text-align :center">
                                    <strong>오장섭</strong>
                                </div>
                            </div>
                            <div class = "col-sm-3">
                                <div class = "margin_name margin_name_none">
                                    <i class = "fa fa-circle"></i>
                                    <strong>접속중</strong>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>