<div class="wrapper wrapper-content">
    <div class="animated fadeInRightBig">
        <div class = "row">
            test<%=@game_results%>
            <div class = "col-md-6">
                <!--위에 작은 박스-->
                <div class = "ibox">
                    <div class = "ibox-title">
                        <h3>매치</h3>
                    </div>
                    <div class = "ibox-content">
                        <% @game_results.each do |result| %>
                        <div class = "row line">
                            <div class = "col-xs-2">
                                <%=image_tag("doubleleft.png")%>
                            </div>
                            <div class = "col-xs-2">
                                <%=image_tag("left.png")%>
                            </div>
                            <div class = "col-xs-4 time">
                                6일차-2015-8-31-금요일
                            </div>
                            <div class = "col-xs-2">
                                <%=image_tag("right.png")%>
                            </div>
                            <div class = "col-xs-2">
                                <%=image_tag("doubleright.png")%>
                            </div>
                        </div>
                        
                        <div class = "row result-line">
                            
                            
                            <% end %>
                            <div class = "col-xs-10 result-line-half">
                                <div class = "col-xs-5 team-slot">
                                    성하짱짱(박성하)
                                </div>
                                <div class = "col-xs-2 versus">
                                    vs
                                </div>
                                <div class = "col-xs-5 team-slot">
                                    Juvvon(박주원)
                                </div>
                            </div>
                            <div class = "col-xs-2">
                                <button class = "btn btn-info dim">
                                    보기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--참여자 리스트-->
            <div class = "col-md-6">
                <div class="ibox text-center">
                    <div class = "ibox-title">
                        <h3 style = "text-align:left">리그 순위표</h3>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th style = "width : 40%"></th>
                                    <th>누적 경기수</th>
                                    <th>승</th>
                                    <th>무</th>
                                    <th>패</th>
                                    <th>승률</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>장섭 독수리 (오장섭)</td>
                                <td>4</td>
                                <td>3</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0.750</td>
                            </tr>
                            <tr>
                                <td>장섭 독수리 (오장섭)</td>
                                <td>4</td>
                                <td>3</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0.750</td>
                            </tr>
                            <tr>
                                <td>장섭 독수리 (오장섭)</td>
                                <td>4</td>
                                <td>3</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0.750</td>
                            </tr>
                            <tr>
                                <td>장섭 독수리 (오장섭)</td>
                                <td>4</td>
                                <td>3</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0.750</td>
                            </tr>
                            <tr>
                                <td>장섭 독수리 (오장섭)</td>
                                <td>4</td>
                                <td>3</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0.750</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    
    
    
    
</div>

<script>
    angular.module("app",["scoreboard"])
        .controller('AppController',['$http',function($http){
            $http({
                method: 'POST'
            })
        }]);
            
    angular.module("scoreboard",["scoreboard.filters",
                                "scoreboard.directives",
                                "scoreboard.controllers",
                                "scoreboard.services"]);
    
    angular.module("scoreboard.filters",[]);
    angular.module("scoreboard.directives",[]);
    angular.module("scoreboard.controllers",[])
        .controller("ScoreboardController",['$scope',function($scope){
            
        }]);
    angular.module("scoreboard.services",[])
        .factory();
</script>