<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header" style = "background-color : #243544">
                <div class="dropdown profile-element" style = "text-align : center;">
                    
                    <span>
                        <%= image_tag('yank.gif', class: "img-circle") %>
                    </span>                    
                    
                    
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold" style = "font-size : 130%">
                                    <%=@room.name%> 
                                </strong>
                            </span> <span class="text-muted text-xs block" style = "font-size : 120%">
                                <%=@my_team.take.name%> 팀
                            </span>
                        </span>
                    </a>
                    
                    
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                        <!-- 여기에 더 추가 가능 -->
                    </ul>
                </div>
                <div class="logo-element">
                    WTB
                </div>    
            </li>
            <li class="<%= is_active_action('info') %>">
                <a href="/league/<%=params[:id]%>/info">
                    <i class="fa fa-gear"></i> <span class="nav-label">리그설정</span>
                </a>
            </li>
            <li class="<%= is_active_action('lineup') %> <%= is_active_action('trade') %>">
                <a href="#"><i class="fa fa-group"></i> <span class="nav-label">마이팀</span><span class="fa arrow"></a>
                <ul class="nav nav-second-level collapse">
                    <li class="<%= is_active_action('lineup') %>">
                        <a href="/league/<%=params[:id]%>/lineup">라인업</a>
                    </li>
                    <li class="<%= is_active_action('trade') %>">
                        <a href="/league/<%=params[:id]%>/trade">트레이드</a>
                    </li>
                </ul>
            </li>
            <li class="<%= is_active_action('draft') %> <%= is_active_action('autopick') %>">
                <a href="#"><i class="fa fa-search"></i> <span class="nav-label">드래프트</span><span class="fa arrow"></a>
                <ul class="nav nav-second-level collapse ">
                    <li class="<%= is_active_action('draft') %>">
                        <a href="/league/<%=params[:id]%>/draft">드래프트</a>
                    </li>
                </ul>
            </li>
            <li class="<%= is_active_action('result') %>">
                <a href="/league/<%=params[:id]%>/result">
                    <i class="fa fa-file-text-o"></i><span class="nav-label">결과</span></a>
            </li>
            <li class="<%= is_active_action('interleague') %>">
                <a href="/league/<%=params[:id]%>/interleague">
                    <i class="fa fa-sitemap"></i><span class="nav-label">인터리그</span></a>
            </li>
        </ul>

    </div>
</nav>