<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top custom-bg1" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#" style="<%= is_minibtn_league('league', 'dashboard') %>"><i class="fa fa-bars"></i> </a>
            <ul class="nav navbar-top-links navbar-left">
                <li>
                    <a href="<%= url_for :controller => '/home', :action => 'index' %>">
                        <i class="fa fa-home"></i> WTB 홈
                    </a>
                </li>
                <li>
                    <a href="<%= url_for :controller => '/league', :action => 'dashboard' %>">
                        <i class="fa fa-sign-out"></i> 나의리그
                    </a>
                </li>
                <li>
                    <a href="<%= url_for :controller => '/howto', :action => 'index' %>">
                        <i class="fa fa-gamepad"></i> 게임방법
                    </a>
                </li>
                <li>
                    <a href="<%= url_for :controller => '/info', :action => 'index' %>">
                        <i class="fa fa-info-circle"></i> 정보
                    </a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <% if user_signed_in? %>
                <li>
                    <span class="m-r-sm text-muted welcome-message"><%=current_user.username%>님 환영합니다.</span>
                </li>
                <li>
                    <a href="/users/sign_out">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            <% else %>
                <li>
                    <a href="/users/sign_in">Sign in</a>
                </li>
                <li>
                    <a href="/users/sign_up">Register</a>
                </li>
            <% end %>
            
            <!-- 관리자 페이지 (실제 서비스시에는 없애기)-->
            <li>
                <a href="<%= url_for :controller => '/admin', :action => 'manage' %>">
                    관리자 페이지
                </a>
            </li>
            <!-- 관리자 페이지 (실제 서비스시에는 없애기)-->
            
        </ul>
    </nav>
</div>