<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#" style="<%= is_minibtn_league('league') %>"><i class="fa fa-bars"></i> </a>
            <ul class="nav navbar-top-links navbar-left">
                <li>
                    <a href="<%= url_for :controller => 'home', :action => 'index' %>">
                        <span class="glyphicons glyphicons-312-baseball"></span> WTB 홈
                    </a>
                </li>
                <li>
                    <a href="<%= url_for :controller => 'home', :action => 'index' %>">
                        <i class="fa fa-sign-out"></i> 나의리그
                    </a>
                </li>
                <li>
                    <a href="<%= url_for :controller => 'home', :action => 'index' %>">
                        <i class="fa fa-sign-out"></i> 게임방법
                    </a>
                </li>
                <li>
                    <a href="<%= url_for :controller => 'home', :action => 'index' %>">
                        <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> 정보
                    </a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">윗더베에 오신 것을 환영합니다.</span>
            </li>
            <li>
                <a href="<%= url_for :controller => 'home', :action => 'index' %>">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>